#header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  margin: auto;
  padding: 20px 100px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 10;

  font-size: large;
}

#header-logo {
  height: 40px;
  width: auto;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-left nav {
  flex: 1;
  text-align: right;
}

.header-left nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.header-left nav ul li {
  display: inline-block;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

a {
  text-decoration: none;
}

.search-container {
  position: relative;
}

#search-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: relative;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    background: white;
    border: 1px solid #ccc;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    scrollbar-width: thin;
}

#search-input {
  position: relative;
  width: 200px;
  padding: 4px;
  border-radius: 5px;
}

#search-button {
  border: transparent;
  background: none;
}

.search-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 12px;
}

.search-item:hover {
    background-color: beige;
    cursor: pointer;
}

.search-item-img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.search-item-title {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#cart-count {
  padding: 4px 8px;
  border-radius: 20px;
  background-color: red;
  color: white;
  font-size: small;
}

.icon-search {
  width: 30px;
  height: 30px;
}

.icon-cart {
  width: 30px;
  height: 30px;
}

.icon-account {
  width: 30px;
  height: 30px;
}