* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.main-container {
  max-width: 100%;
  margin: auto;
}

/* Welcome Container */

.welcome-container {
  width: 100%;
  padding: 0 8%;
  background: radial-gradient(white, beige);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.welcome-group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.welcome-content {
  flex-basis: 50%;
  min-width: 400px;
}

.welcome-content h1 {
  font-size: 50px;
  line-height: 100px;
  margin: 20px;
}

.shop-button {
  display: inline-block;
  background: #802c6e;
  color: white;
  padding: 10px 20px;
  margin: 40px 0;
  border-radius: 20px;
  transition: background 0.5s;
}

.shop-button:hover {
  background: #672b7f;
}

.welcome-content img {
  max-width: 100%;
  padding: 50px 0;
  
}

/* Categories Container */
.categories-container {
  width: 100%;
  padding: 70px 8%;
  text-align: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.category-group {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 20px;
  padding: 30px 0;
}

.categories-content {
  flex: 1;
  max-width: 20%;
  text-align: center;
}

.categories-content h3 {
  margin-bottom: 15px;
  font-size: 1.2rem;
}

.categories-content img {
  max-width: 100%;
  height: auto;
  transition: transform 0.3s;
  cursor: pointer;
}

.categories-content img:hover {
  transform: translateY(-5px);
}

/* Featured Product Container */

.featured-products {
  width: 100%;
  padding: 70px 8%;
  text-align: center;
  background: radial-gradient(white, beige);
}

.carousel-slides {
    margin: 100px auto;
    width: 90%;
    border-radius: 20px;
    border: 8px solid #802c6e;
    background-color: white;
    display: flex;
    overflow-x: hidden;
}

.carousel-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 20px;
    animation: spin 20s infinite linear;
    padding-right: 20px;
}

.carousel-card {
    flex: 0 0 5em;
    height: 5em;
    padding: 1em;
    font-size: 3rem;
    border-radius: .2em;
    text-align: center;
    align-content: center;
    justify-content: center;
}

.carousel-card img{
  width: 70%;
  height: auto;
}

@keyframes spin {
    from {translate: 0;}
    to {translate: -100%;}
}