* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', Arial, sans-serif;
}

body {
    background-color: #ffffff;
    color: #000000;
    justify-self: center;
}

main {
    width: 1200px;
    height: 100%;
    max-width: 100%;
    max-height: 100vh;
    justify-items: center;
}

.product-top {
    display: flex;
    justify-content: center;
    border: 2px solid red;
}

.product-left {
    width: 400px;
    height: 400px;
}

.product-right {
    width: 400px;
    height: 400px;
}

.product-bottom {
    text-align: center;
}

.carousel-slides {
    margin: 0px auto;
    width: 800px;
    border: 5px solid red;
    display: flex;
    overflow-x: hidden;
}

.carousel-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 10s infinite linear;
    padding-right: 1em;
}

.carousel-card {
    flex: 0 0 3em;
    height: 3em;
    padding: 1em;
    background: cornflowerblue;
    font-size: 3rem;
    border-radius: .2em;
    text-align: center;
    align-content: center;
    flex-direction: row;
}

@keyframes spin {
    from {translate: 0;}
    to {translate: -100%;}
}