* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}


main {
  max-width: 100%;
  margin: auto;
}

.product-container {
  width: 100%;
  padding: 100px 16%;
  background: radial-gradient(white, beige);
  border-bottom: 2px solid #802c6e;
}

.product-group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-content {
  flex-basis: 50%;
  min-width: 400px;
}

#product-title {
  font-size: 25px;
  text-align: center;
}

.product-content p {
    text-align: left;
    padding: 10px 0;
}

.product-content img {
  max-width: 90%;
  padding: 50px 0;
}

.product-label {
    font-weight: bold;
    text-decoration: underline;
}

#product-quantity {
    margin: 0 10px;
}

/* Carousel - Recommended Products */

.recommended-products {
  width: 100%;
  padding: 70px 8%;
  text-align: center;
  background: radial-gradient(white, beige);
}

.carousel-slides {
    margin: 100px auto;
    width: 90%;
    border-radius: 20px;
    border: 8px solid #802c6e;
    background-color: white;
    display: flex;
    overflow-x: hidden;
}

.carousel-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 20px;
    animation: spin 15s infinite linear;
    padding-right: 20px;
}

.carousel-card {
    flex: 0 0 5em;
    height: 5em;
    padding: 1em;
    font-size: 3rem;
    border-radius: .2em;
    text-align: center;
    align-content: center;
    justify-content: center;
}

.carousel-card img{
  width: 70%;
  height: auto;
}


@keyframes spin {
    from {translate: 0;}
    to {translate: -100%;}
}