* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: beige
}

.main-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-container {
    width: 400px;
    padding: 40px 30px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
}

.register-container h1 {
    text-align: center;
    margin-bottom: 25px;
}

#register-form {
    display: flex;
    flex-direction: column;
}

#register-form label {
    margin-top: 12px;
    margin-bottom: 5px;
    font-weight: bold;
}

#register-form input {
    padding: 10px;
    border: 1px solid beige;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    font-size: 14px;
}

#register-form button {
    margin-top: 20px;
    padding: 12px;
    border: none;
    border-radius: 6px;
    background: #802c6e;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

#register-form button:hover {
    background: #672b7f;
}

#register-message {
    margin-top: 15px;
    text-align: center;
}

.error {
    color: red;
}

.success {
    color: green;
}

.register-container p {
    margin-top: 15px;
    text-align: center;
}

.register-container a {
    color: #672b7f;
    text-decoration: none;
}

.register-container a:hover {
    text-decoration: underline;
}